.container {
    display: flex;
    flex-flow: column nowrap;
    color: var(--primary-color);
    font-weight: normal;
    margin: 35px 10px;
}

.container.light {
    color: var(--primary-color-w);
}

.container > p {
    font-weight: 600;
    margin: 5px 0;
}

.container > .data {
    margin: 0 0 10px 0;
}

.container > .formacao {
    display: flex;
    align-items: flex-end;
}

.container > .formacao > svg {
    width: 20px;
    margin-right: 10px;
}

.container.light > .formacao > svg {
    color: var(--title-color-w);
}

@media screen and (min-width: 782px) {
    .container {
        margin: 35px 15px;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        margin: 35px 0;
    }
}