<header [ngClass]="tema" id="home">
  <div class="menu__desk">
    <app-menu-desktop></app-menu-desktop>
  </div>
  <img [src]="photoLogo" alt="logo">
  <button (click)="changeTheme()">
    <img [src]="[photoTheme]" alt="tema">
  </button>
</header>
<main [ngClass]="tema">
  <section class="home">
    <app-main
    [titlePt1]="titlePt1"
    [titlePt2]="titlePt2"
    [name]="name"
    [location]="location"
    [job]="job"
    [imageBase]="imageBase"
    ></app-main>
  </section>
  <section class="habilidades-principais">
    <app-habilidades-principais
    [tecnologies]="tecnologies"
    ></app-habilidades-principais>
  </section>
  <section class="projects" id="projetos">
    <h1>Projetos</h1>

    <app-project-card
    [photoProject]="photoProject"
    [nameProject]="nameProject"
    [descProject]="descProject"
    [caracProject]="caracProject"
    [tecnologies]="tecnologiesProj"
    [linkPage]="linkPage"
    [linkRepos]="linkRepos"
    ></app-project-card>

    <app-project-card-reverse
    [photoProject]="photoProjectR"
    [nameProject]="nameProjectR"
    [descProject]="descProjectR"
    [caracProject]="caracProjectR"
    [tecnologies]="tecnologiesProjR"
    [linkPage]="linkPageR"
    [linkRepos]="linkReposR"
    ></app-project-card-reverse>

    <app-project-card
    [photoProject]="photoProject2"
    [nameProject]="nameProject2"
    [descProject]="descProject2"
    [caracProject]="caracProject2"
    [tecnologies]="tecnologiesProj2"
    [linkPage]="linkPage2"
    [linkRepos]="linkRepos2"
    ></app-project-card>

    <a [href]="linkedin" target="_blank"><button type="button">VER TODOS OS PROJETOS</button></a>
  </section>

  <section class="sobre" id="sobre">
    <app-sobre [idiomas]="['Inglês: Básico']"></app-sobre>
  </section>

  <aside>
    <section class="formacao">
      <h1>FORMAÇÃO</h1>
      <app-formacao></app-formacao>
    </section>
    <section class="cursos">
      <h1>CURSOS</h1>
      <app-cursos
      name="HTML5 e CSS3"
      nameInstituicao="Curso em Vídeo"
      dataInicio="02/2024"
      dataFim="..."
      horas="200"
      [habilitys]="['Fundamentos HTML', 'Estruturação de documento HTML', 'Estrutura de tags e suas funções', 'Aprendizado sobre CSS3', 'Conceitos avançados']"
      ></app-cursos>
      <app-cursos
      name="JavaScript"
      nameInstituicao="Curso em Vídeo"
      dataInicio="12/2023"
      dataFim="02/2024"
      horas="40"
      [habilitys]="['Lógica de Programação', 'Estrutura da Linguagem', 'Conceitos básicos']"
      ></app-cursos>
      <app-cursos
      name="JavaScript Developer"
      nameInstituicao="DIO"
      dataInicio="03/2024"
      dataFim="05/2024"
      horas="40"
      [habilitys]="['Lógica de Programação', 'JavaScript para Web', 'Estrutura e entendimento da linguagem', 'Projetos', 'Conceitos avançados']"
      ></app-cursos>
      <app-cursos
      name="Angular Developer"
      nameInstituicao="DIO"
      dataInicio="04/2024"
      dataFim="06/2024"
      horas="40"
      [habilitys]="['Prática em TypeScript', 'Fundamentos Front-End Componentizado', 'Single Page Aplication', 'Aplicações Inteligentes', 'Fluxos', 'Projetos']"
      ></app-cursos>
      <app-cursos
      name="Tecnologia da Informação e Comunicação"
      nameInstituicao="SENAI"
      dataInicio="10/2023"
      dataFim="12/2023"
      horas="14"
      [habilitys]="['Hardware e Software', 'Segurança Web', 'Cabeamento e Redes']"
      ></app-cursos>
    </section>
  </aside>

  <section class="contato" id="contato">
    <app-contato></app-contato>
  </section>
</main>
<footer [ngClass]="tema">
  <p>&copy; 2024. Todos os Direitos Reservados. Felipe Santos. Desenvolvido por Felipe Santos.</p>
</footer>
<div class="menu-mobile">
  <app-menu-bar></app-menu-bar>
</div>
<router-outlet></router-outlet>
