<header>
  <img src="assets/images/logo-w.png" alt="logo">
  <img src="assets/icons/moon.png" alt="tema">
</header>
<main>
  <section class="home">
    <app-main></app-main>
  </section>
  <section class="habilidades-principais">
    <app-habilidades-principais></app-habilidades-principais>
  </section>
  <section class="projects">
    <h1>Projetos</h1>

    <app-project-card
    photoProject="assets/images/mockup_spider.jpg"
    nameProject="Streaming of Movies"
    descProject="Streaming interativo dos filmes dos diferentes 'Spider-Mans'"
    [caracProject]="['Carrossel Interativo', 'Navegabilidade', 'Animações 3D']"
    [tecProject]="['assets/images/js.png', 'assets/images/html.png', 'assets/images/css.png']"
    linkPage="https://fsantosandrade.github.io/projeto-spider-man/"
    linkRepos="https://github.com/fsantosandrade/projeto-spider-man"
    ></app-project-card>

    <app-project-card
    photoProject="assets/images/mockup_blog.jpg"
    nameProject="Blog Minimalist"
    descProject="Um Blog minimalista com Angular para a exibição de notícias de maneira organizada"
    [caracProject]="['Responsividade', 'Alternância de temas dark e light', 'Paginas secundárias dinâmicas', 'Informações dinâmicas']"
    [tecProject]="['assets/images/angular.png', 'assets/images/ts.png', 'assets/images/html.png', 'assets/images/css.png']"
    linkPage="https://fsantosandrade.github.io/angular-blog/"
    linkRepos="https://github.com/fsantosandrade/angular-blog"
    ></app-project-card>

    <app-project-card
    photoProject="assets/images/mockup_pokedex.jpg"
    nameProject="Pokemons List"
    descProject="Uma lista de pokemons integrada com a PokeAPI"
    [caracProject]="['Controle de Paginação', 'Integrada a PokeAPI', 'Responsividade']"
    [tecProject]="['assets/images/js.png', 'assets/images/html.png', 'assets/images/css.png']"
    linkPage="https://fsantosandrade.github.io/pokedex/"
    linkRepos="https://github.com/fsantosandrade/pokedex"
    ></app-project-card>
  </section>
</main>
<router-outlet></router-outlet>
