<header [ngClass]="tema" id="home">
  <div class="menu__desk">
    <app-menu-desktop></app-menu-desktop>
  </div>
  <img [src]="photoLogo" alt="logo">
  <button (click)="changeTheme()">
    <img [src]="[photoTheme]" alt="tema">
  </button>
</header>
<main [ngClass]="tema">
  <section class="home">
    <app-main
    [titlePt1]="titlePt1"
    [titlePt2]="titlePt2"
    [name]="name"
    [location]="location"
    [job]="job"
    [imageBase]="imageBase"
    ></app-main>
  </section>
  <section class="habilidades-principais">
    <app-habilidades-principais
    [tecnologies]="tecnologies"
    ></app-habilidades-principais>
  </section>
  <section class="projects" id="projetos">
    <h1>Projetos</h1>

    <app-project-card
    [photoProject]="photoProject"
    [nameProject]="nameProject"
    [descProject]="descProject"
    [caracProject]="caracProject"
    [tecnologies]="tecnologiesProj"
    [linkPage]="linkPage"
    [linkRepos]="linkRepos"
    ></app-project-card>

    <app-project-card-reverse
    [photoProject]="photoProjectR"
    [nameProject]="nameProjectR"
    [descProject]="descProjectR"
    [caracProject]="caracProjectR"
    [tecnologies]="tecnologiesProjR"
    [linkPage]="linkPageR"
    [linkRepos]="linkReposR"
    ></app-project-card-reverse>

    <app-project-card
    [photoProject]="photoProject2"
    [nameProject]="nameProject2"
    [descProject]="descProject2"
    [caracProject]="caracProject2"
    [tecnologies]="tecnologiesProj2"
    [linkPage]="linkPage2"
    [linkRepos]="linkRepos2"
    ></app-project-card>

    <a [href]="linkedin" target="_blank"><button type="button">VER TODOS OS PROJETOS</button></a>
  </section>

  <section class="sobre" id="sobre">
    <app-sobre 
    [photo]="photoProfile"
    [description]="description"
    [idiomas]="['Inglês: Básico']"
    [conect]="linkedin"
    ></app-sobre>
  </section>

  <aside>
    <section class="formacao">
      <h1>FORMAÇÃO</h1>
      <app-formacao
      [formacao]="formacao"
      [dataInic]="dataInici"
      [dataFim]="dataFim"
      [instituicao]="instituicao"
      ></app-formacao>
    </section>

    <section class="cursos">
      <h1>CURSOS</h1>
      <app-cursos *ngFor="let c of curso"
      [name]="c.nomeCurso"
      [nameInstituicao]="c.instituicaoCurso"
      [dataInicio]="c.dataInicCurso"
      [dataFim]="c.dataFimCurso"
      [horas]="c.horasCurso"
      [habilitys]="c.habilidadesCurso"
      ></app-cursos>
    </section>
  </aside>

  <section class="contato" id="contato">
    <app-contato
    [github]="github"
    [linkedin]="linkedin"
    [phone]="phone"
    [email]="email"
    ></app-contato>
  </section>
</main>
<footer [ngClass]="tema">
  <p>&copy; 2024. Todos os Direitos Reservados. {{ name }}. Desenvolvido por {{ name }}.</p>
</footer>
<div class="menu-mobile">
  <app-menu-bar></app-menu-bar>
</div>
<router-outlet></router-outlet>
