<div class="container" [ngClass]="tema">
    <nav>
        <ul>
            <li class="menu__link activate"> 
                <a href="#home">
                    <span>HOME</span>
                </a>
            </li>
            <li>
                <a href="#projetos" class="menu__link">
                    <span>PROJETOS</span>
                </a>
            </li>
            <li>
                <a href="#sobre" class="menu__link">
                    <span>SOBRE</span>
                </a>
            </li>
            <li>
                <a href="#contato" class="menu__link">
                    <span>CONTATO</span>
                </a>
            </li>
        </ul>
    </nav>
</div>