.container {
    margin: 10px;
    font-size: larger;
    padding-bottom: 25px;
}

.container > .project > img {
    width: 100%;
    border-radius: 5px;
}

.container > .title, .container > p {
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: normal;
}

.container.light > .title, .container.light > p {
    color: var(--primary-color-w);
}

.container > .caracteristicas {
    color: var(--title-color);
    margin: 25px 0;
}

.container.light > .caracteristicas {
    color: var(--title-color-w);
}

.container > .tecnologias {
    display: flex;
    margin: 20px 0;
}

.container > .tecnologias > li {
    width: 70px;
    height: 70px;
    border: 1px solid var(--title-color);
    border-radius: 50%;
    padding: 15px;  
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--title-color);
}

.container > .tecnologias > li {
    fill: var(--link-color-w);
}

.container.light > .tecnologias > li {
    border: 1px solid var(--link-color-w);
}

.container > .tecnologias > li > svg {
    width: 20px;
    fill: var(--primary-color);
}

.container > .options {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.container > .options > a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15px;
}

.container.light > .options > a {
    color: var(--primary-color-w);
}

.container > .options > .previa {
    width: 60%;
    border: 1px solid var(--title-color);
    padding: 12px 10px;
    border-radius: 20px;
    text-align: center;
    transition: background-color .5s;
}

.container.light > .options > .previa {
    border: 1px solid var(--title-color-w);
}

.container > .options > .previa > svg {
    width: 10px;
    margin-left: 10px;
    fill: var(--primary-color);
}

.container.light > .options > .previa > svg {
    fill: var(--pimary-color-w);
    stroke: var(--primary-color-w);
}

.container > .options > .previa:hover {
    background-color: var(--title-color);
    cursor: pointer;
}

.container.light > .options > .previa:hover {
    background-color: var(--link-color-w);
    color: var(--primary-color);
}

.container > .options > .repositorio {
    width: 40%;
    text-align: center;
}

.container > .options > .repositorio:hover {
    font-weight: bold;
    cursor: pointer;
}