.container {
    color: var(--primary-color);
    margin: 10px 10px 0 10px;
}

.container > h1 {
    font-weight: normal;
}

.container > h1:nth-child(1) {
    font-weight: 600;
}

.container.light > h1 {
    color: var(--primary-color-w);
}

.container > .description {
    color: var(--title-color);
    margin-bottom: 5px;
}

.container.light > .description {
    color: var(--title-color-w);
}

.container > .sociais > a > svg {
    height: 20px;
    width: 20x;
    margin-right: 5px;
    margin-bottom: 20px;
    fill: var(--primary-color);
}

.container.light > .sociais > a > svg {
    fill: var(--primary-color-w);
}

.container > button {
    background-color: transparent;
    color: var(--primary-color);
    padding: 15px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.container > button:hover {
    background-color: var(--border-color);
    cursor: pointer;
}

.container.light > button {
    color: var(--primary-color-w);
    border: 1px solid var(--title-color-w);
}

.container.light > button:hover {
    background-color: var(--link-color-w);
    color: var(--primary-color);
}

.container.light > button:hover > #arrow {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}

.container > button > #arrow {
    width: 10px;
    margin-left: 10px;
    fill: var(--primary-color);
}

.container.light > button > #arrow {
    fill: var(--primary-color-w);
    stroke: var(--primary-color-w);
}

.container > .image-base {
    width: 100%;
}

.container > .image-base > img {
    width: 100%;
    border-radius: 5px;
    transform: translateY(65px);
    margin-top: -30px;
}